@inherits LayoutComponentBase

<PageTitle>Carb Counter</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <ErrorBoundary>
                <LoginDisplay />
            </ErrorBoundary>
        </div>

        <article class="content px-4">
            <ErrorBoundary>
                @Body
            </ErrorBoundary>
        </article>
    </main>
</div>
