@page "/"

<PageTitle>Carb Counter</PageTitle>

<AuthorizeView>

    <Authorized>
        <Foods />
    </Authorized>

    <NotAuthorized>
        <h1>Carb Counter</h1>    
        
        <p>Take a bite out of healthy living with Carb Counter - a simple nutrition management tool. Effortlessly track your daily intake and watch your progress soar with this user-friendly and lightweight interface. It's the cherry on top of your wellness journey!</p>
        <p>Log in and get started now. Just do it!</p>
        
        <div class="youtube-vid">
            <iframe              
                src="https://www.youtube.com/embed/ZXsQAXx_ao0" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
            </iframe>
        </div>

        <br />
    </NotAuthorized>

</AuthorizeView>


@code {
    
}